@font-face {
  font-family: "SpoqaHanSansNeo-Regular";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2108@1.1/SpoqaHanSansNeo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "SpoqaHanSansNeo-Regular";
  color: #242424;
  letter-spacing: -1px;
  font-size: 14px;
}

a {
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
}

header {
  width: 100%;
  height: 64px;
  padding: 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 0.5px solid #dfdfdf;
  background-color: hsla(0, 0%, 100%, 0.9);
  position: sticky;
  top: 0;
}
header .logo {
  width: 56px;
  height: 24px;
}
header .logo img {
  width: 100%;
}
header .menu {
  width: 418.78px;
  height: 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .menu ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 16px;
}
header .menu ul li {
  width: 104.38px;
  text-align: center;
}
header .menu .login {
  width: 81.33px;
  height: 32px;
  font-family: "SpoqaHanSansNeo-Regular";
  font-size: 12px;
  border: none;
  border-radius: 100px;
  background-color: #333;
  color: #fff;
}

.title h2 {
  font-size: 49px;
  font-weight: 700;
  line-height: 130%;
  letter-spacing: -2px;
}
.title p {
  font-size: 22px;
  color: #555;
  line-height: 160%;
}
.titleC {
  text-align: center;
  margin-bottom: 60px;
}
.titleC h2 {
  margin-bottom: 24px;
}

.bottom {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: 0;
  padding-bottom: 16px;
}
.bottom .sub_script {
  width: 450px;
  height: 56px;
  background-color: #333;
  font-family: "SpoqaHanSansNeo-Regular";
  color: #fff;
  font-size: 16px;
  border: none;
  border-radius: 100px;
}

#slider {
  width: 100%;
  height: 820px;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(#f8faff 67.5%, #f0f4ff 0);
  padding-top: 64px;
}
#slider .bg {
  width: 1200px;
  height: 756px;
  background-image: url("https://d3udu241ivsax2.cloudfront.net/v3/images/brand/main-bg.0c2e95bfd550759a46367d3abb3d05df.png");
  background-size: 765px;
  background-repeat: no-repeat;
  background-position: 96% 55%;
}
#slider .bg .t {
  width: 1200px;
  height: 580px;
  margin-top: 88px;
  padding: 0 48px;
}
#slider .bg .t h1 {
  height: 223px;
  margin: 9.38px 0;
  background-image: url("https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slogan.4c47e7658eb4f468e43253b57f8466b5.png");
  background-repeat: no-repeat;
  background-size: 346px;
}
#slider .bg .t .logo2 {
  height: 47px;
  margin-top: 310px;
  background-image: url("https://d3udu241ivsax2.cloudfront.net/v3/images/brand/millielibrary.e908db2a7501cfb173f997fcc3314c2a.png");
  background-size: 178px;
  background-repeat: no-repeat;
}

#section {
  width: 100%;
}
#section .sc1 {
  width: 100%;
  padding: 80px 24px;
}
#section .sc1 .slide {
  width: 100%;
}
#section .sc1 .slide .sd {
  width: 100%;
  height: 200px;
  background-repeat: repeat-x;
  background-size: 3000px;
  background-position-x: 0;
  background-position-y: center;
}
#section .sc1 .slide .sd1 {
  background-image: url("https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slide01.a7cc998bd9e966d0d94956bef997e0c8.png");
}
#section .sc1 .slide .sd2 {
  background-image: url("https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slide02.49dff390b1caebf4be084582e573d26f.png");
}
#section .sc1 .slide .sd3 {
  background-image: url("https://d3udu241ivsax2.cloudfront.net/v3/images/brand/slide03.2246c95c20916dc665da8a84af1cd2ad.png");
}
#section .sc2 {
  width: 100%;
  padding: 80px 0 120px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f7f7f7;
}
#section .sc2 .video {
  width: 730px;
  height: 409.66px;
  position: relative;
  filter: drop-shadow(5px 5px 50px rgba(0, 0, 0, 0.03)) drop-shadow(12px 12px 32px rgba(0, 0, 0, 0.1));
}
#section .sc2 .video img {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#section .sc2 .video video {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}
#section .sc2 .video button {
  width: 56px;
  height: 56px;
  border: none;
  background-image: url("https://d3udu241ivsax2.cloudfront.net/v3/images/brand/play-btn.2793db10c08e75f4d3ea5226f19f650b.png");
  background-position: center;
  background-size: cover;
  background-color: transparent;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 0;
}
#section .sc2 button {
  width: 198px;
  height: 54px;
  margin-top: 24px;
  background-color: transparent;
  font-size: 16px;
  border: 1px solid #333;
  border-radius: 100px;
  color: #333;
  font-family: "SpoqaHanSansNeo-Regular";
}
#section .sc3 {
  width: 100%;
  padding: 80px 0 50px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section .sc3 .category {
  width: 1159px;
  margin-top: 32px;
  margin-bottom: 64px;
}
#section .sc3 .category .subtitle {
  font-size: 20px;
  display: inline-block;
  margin-bottom: 32px;
}
#section .sc3 .category .list {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#section .sc3 .category .list .b {
  width: 145px;
}
#section .sc3 .category .list .b .cover {
  width: 100%;
}
#section .sc3 .category .list .b .cover img {
  width: 100%;
}
#section .sc3 .category .list .b .info {
  width: 100%;
  padding-top: 12px;
}
#section .sc3 .category .list .b .info h3 {
  width: 100%;
  font-size: 16px;
  margin-bottom: 3px;
}
#section .sc3 .category .list .b .info p {
  color: #6f6f6f;
}
#section .sc4 {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section .sc4 .title {
  margin-bottom: 0;
}
#section .sc4 .teast {
  padding-top: 74px;
  padding-bottom: 32px;
}
#section .sc4 .teast .subject {
  display: flex;
  margin-bottom: 20px;
}
#section .sc4 .teast .subject button {
  background-color: transparent;
  border: 1px solid #242424;
  border-radius: 100px;
  font-family: "SpoqaHanSansNeo-Regular";
  padding: 6px 16px;
}
#section .sc4 .teast .subject .c {
  background-color: #242424;
  color: #fff;
}
#section .sc4 .teast .category2 {
  width: 1159px;
  height: 300px;
  position: relative;
}
#section .sc4 .teast .category2 .list {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0;
  left: 0;
}
#section .sc4 .teast .category2 .list:not(:first-child) {
  display: none;
}
#section .sc4 .teast .category2 .list .b {
  width: 145px;
}
#section .sc4 .teast .category2 .list .b .cover {
  width: 100%;
}
#section .sc4 .teast .category2 .list .b .cover img {
  width: 100%;
}
#section .sc4 .teast .category2 .list .b .info h3 {
  width: 100%;
  font-size: 16px;
  padding-top: 12px;
  margin-bottom: 3px;
}
#section .sc4 .teast .category2 .list .b .info p {
  color: #6f6f6f;
}
#section .sc5 {
  padding: 80px 0;
  background-color: #f7f7f7;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#section .sc5 .title {
  margin-bottom: 0;
}
#section .sc5 .w-wrap {
  width: 1440px;
  padding-top: 40px;
  display: flex;
  justify-content: center;
}
#section .sc5 .w-wrap .w-int {
  width: 834px;
  height: 502px;
  position: relative;
}
#section .sc5 .w-wrap .w-int .s-icon .subimg {
  width: 172px;
  height: 172px;
  position: absolute;
}
#section .sc5 .w-wrap .w-int .s-icon .subimg:nth-of-type(1) {
  top: 50%;
  left: -10%;
}
#section .sc5 .w-wrap .w-int .s-icon .subimg:nth-of-type(2) {
  top: 12%;
  left: 0%;
}
#section .sc5 .w-wrap .w-int .s-icon .subimg:nth-of-type(3) {
  top: 50%;
  right: -10%;
}
#section .sc5 .w-wrap .w-int .s-icon .subimg:nth-of-type(4) {
  top: 12%;
  right: 0%;
}
#section .sc5 .w-wrap .w-int .s-icon .subimg img {
  width: 100%;
}
#section .sc5 .w-wrap .w-int .cimg {
  width: 100%;
  height: 502px;
  position: relative;
}
#section .sc5 .w-wrap .w-int .cimg .moc-up {
  width: 410px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
#section .sc5 .w-wrap .w-int .cimg .moc-up img {
  width: 100%;
}
#section .sc5 .w-wrap .w-int .cimg .ex {
  width: 417px;
  position: absolute;
  top: 48.2%;
  left: 50%;
  transform: translateX(-50%);
}
#section .sc5 .w-wrap .w-int .cimg .ex img {
  width: 100%;
}
#section .sc6 {
  background-color: #ffeb60;
  padding: 80px 0 100px 0;
}